body {
background: rgb(201, 97, 97);
margin-left:900px;
margin-right: 300px
}
h1{
    color: yellowgreen;
    font-family: arial;

}
p{
    font: size 18;

}
img{
    margin-bottom: 30px;
}
header{
    margin-top: 30px;
}
.img_morzao{
    margin-bottom: 30px;
    margin-top:40px;
    

}